# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules/
ProjectLens/
project_snapshots/
downloads/
venv/
__pycache__/
documents/
local_settings/

build/
dist
dist-ssr
*.spec
*.local

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
brand_assets\modernstock\logo.png
brand_assets\modernstock\logo2.png
brand_assets\stocklam\logo.png

# Sensitive and Config Files
.env
config.json
user_session.json
pdf_settings.json
*.db
*.sqlite
*.sqlite3
*.zip
*.rar
*.apk
*.png
